<!DOCTYPE html>
<html>
  <head></head>

  <body>
  <div class="container">
    <nav class="navbar second-navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Container to hold content in the middle-->
      <div class="container">
        <!-- Wrapper for toggle (mobile) and desktop view-->
        <div class="collapse navbar-collapse" id="navbar">
          <!-- First nav bar to hold content to the left-->
          <div class="navbar-nav">
            <a class="nav-item nav-link" id="Recipe cards" href="/Recipe cards">Recipes</a>
            <a class="nav-item nav-link" id="Trending Section" href="/Trending Section">Trending Section</a>
            <a class="nav-item nav-link" id="#" href="/recipe/random">Surprise me!</a>
            <a class="nav-item nav-link" id="support" href="/support">Support</a>
          </div>
          <div class="navbar-nav ml-auto">
            <!-- Simple search bar with no filters -->
            <form class="d-flex" action="/search_result" method="POST">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search Recipes"
                aria-label="Search"
                id="Search"
                name="Search"
                autocomplete="on"
                value="{{search_value}}"
              />
              <button class="btn btn-outline-primary" type="submit">Search</button>  
            </form>


             <!--
            <a href="/search_result">
              <li><img border="0" align="left" src="{{ url_for('static',filename = 'images/search2.png')}}" alt="search_button" height="40" width="40"/></li>
            </a>-->
          </div>
        </div>
      </div>
    </nav>
  </div>

    <div class="container" style="margin: 10px">
      <!--search form-->
      <br>
      <br>

    
    {% block content %} 
    {% endblock %}
    </div>
  </body>
</html>
