<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Client ID for our app, used for google sign in -->
    <meta
      name="google-signin-client_id"
      content="784040491472-6uu3o01ngln967vcfpu45eo1in3he4m0.apps.googleusercontent.com"
    />

    <!-- Import Bootstrap. Links to CDN which gives access to all the bootstrap designs -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <!-- When hovering over dropdown menu display content (I dont know how to connect css file) -->
    <style type="text/css">
      .dropdown:hover .dropdown-menu {
        display: block;
      }

      .sticky-offset {
        top: 55px;
        z-index: 100;
      }
    </style>

    <link type="text/css" rel="stylesheet" href="/static/style.css" />
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <!-- Our navbar, caters for desktop and mobile -->
    <!-- Nav bar that has a dark bg, and changes when the screen is no longer small-->
    <!-- Sticky top makes it stay on the top of the screen-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
      <!-- Creates a button for navbar when the screen is small.-->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Container to hold content in the middle-->
      <div class="container">
        <!-- Wrapper for toggle (mobile) and desktop view-->
        <div class="collapse navbar-collapse" id="navbar">
          <!-- First nav bar to hold content to the left-->
          <div class="navbar-nav">
            <a class="myrecipes" href="/">
              <li>
                <img
                  border="0"
                  align="left"
                  src="{{ url_for('static',filename = 'images/my-recipes.svg')}}"
                  alt="facebook"
                  height="40"
                  width="100"
                />
              </li>
            </a>
          </div>

          <!-- Second navbar to move content to the right-->
          <div class="navbar-nav ml-auto">
            <!-- Viewing condition for logged in and logged out users-->
            {% if current_user.is_authenticated %}

            <!--search form-->
            <form class="d-flex" action="/search_result" method="POST">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
                id="Search"
                name="Search"
                autocomplete="on"
                value="{{search_value}}"
              />
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </form>

            <!-- Recipe creation stuff  -->
            <a
              class="nav-item nav-link"
              id="Create recipe"
              href="/Create recipe"
              >New Recipe</a
            >

            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Placeholder
              </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" id="profile" href="/profile/my"
                  >Profile</a
                >

                <a class="dropdown-item" id="newsfeed" href="/newsfeed"
                  >Personalised Newsfeed</a
                >

                <a class="dropdown-item" id="Recipe cards" href="/Recipe cards"
                  >Recipes</a
                >
                <a class="dropdown-item" id="history" href="/history"
                  >History</a
                >
                <a
                  class="dropdown-item"
                  id="Trending Section"
                  href="/Trending Section"
                  >Trending Section</a
                >

                <!-- Newsletter and support tabs -->
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  id="newsletter"
                  href="/manage_newsletters"
                  >Newsletters</a
                >
                <a class="dropdown-item" id="support" href="/support"
                  >Support</a
                >

                <!-- Logout option -->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" id="logout" href="/logout">Logout</a>
              </div>
            </li>

            {% else %}
            <!-- ATM only authentication methods avaliable -->
            <a class="nav-item nav-link" id="login" href="/login">Login</a>
            <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

    <!-- ######### Flashing Messages  ###############-->
    <!-- Get all the messages that was flashed, and display them on the screen-->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div
      class="
        alert alert-danger
        alter-dismissable
        fade
        show
        sticky-top sticky-offset
      "
      role="alert"
      align="center"
    >
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div
      class="
        alert alert-success
        alter-dismissable
        fade
        show
        sticky-top sticky-offset
      "
      role="alert"
      align="center"
    >
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="container">{% block content %} {% endblock %}</div>

    <!-- Bootstrap. All the javascript required for the css components to work -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <!-- Google Platform Library for integrating Google sign-in -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!-- Script that loads static, js or maybe css into our html file -->
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
  </body>
</html>
