<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div class="container">
    <!--search form-->
    <br>
    <form class="d-flex" action="/search_result" method="POST">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search Recipes"
        aria-label="Search"
        id="Search"
        name="Search"
        autocomplete="on"
        value="{{search_value}}"
      />
      <button class="btn btn-outline-success" type="submit">
        Search
      </button>
      
</form><br>
{% block content %} {% endblock %}</div>
</body>
</html>
