<!-- Front end for when users attempt to change their password using recovery option -->
{% extends "base.html" %}

{% block title %}
  Change Password
{% endblock %} 

{% block content%}
<br />
<section class="container-fluid">
  <section class="row justify-content-center">
    <div class="shadow p-3 mb-5 bg-white rounded" style="width: 45rem">
      <div class="card-body">
        <h3 align="center">MyRecipe</h3>
        <h5 align="center">Already a member? <a href="/login" class="link-primary">Sign In</a></h5>
        <br />

        <form method="POST">
          <!-- Field to enter reset code -->
          <div class="form-group">
            <label for="reset_code">Reset Code</label>
            <input type="reset_code" class="form-control" id="reset_code" name="reset_code" placeholder="Enter reset code"/>
          </div>

          <!-- Field to enter the password user wants to change to -->
          <div class="form-group">
            <label for="password1">Password</label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password"/>
          </div>

          <!-- Field to reenter the password user wants to change to -->
          <div class="form-group">
            <label for="password2">Password (Confirm)</label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password"/>
          </div>

          <br />

          <div align="center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          
          <br />
        </form>
      </div>
    </div>
  </section>
</section>
{% endblock %}
