<!-- Page for editing recipe ingredients -->
{% extends "base.html" %} {% block title %}Create Recipe{% endblock %}
<!-- Overwrites title-->
{% block content %}
<section class="container-fluid">
  <section class="row justify-content-center">
    <style>
        .btn-group a {
        background-color: #04AA6D; /* Green background */
        border: 1px solid green; /* Green border */
        color: white; /* White text */
        padding: 10px 24px; /* Some padding */
        cursor: pointer; /* Pointer/hand icon */
        float: left; /* Float the buttons side by side */
        }

        /* Clear floats (clearfix hack) */
        .btn-group:after {
        content: "";
        clear: both;
        display: table;
        }

        .btn-group button:not(:last-child) {
        border-right: none; /* Prevent double borders */
        }

        /* Add a background color on hover */
        .btn-group button:hover {
        background-color: #3e8e41;
        }

        .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        border: 3px solid green; 
        }
    </style>
    <body>

        <div class="btn-group">
            <a href="/edit recipe" name="Create recipe" type="add" class="btn btn-primary" style = "color:{{color1}}">Edit Recipe</a>
            <a href="/edit recipe image" name="upload image" type="add" class="btn btn-primary" style = "color:{{color2}}">Update Image</a>
            <a href="/edit ingredient" name="Add ingredient" type="add" class="btn btn-primary" style = "color:{{color3}}">Edit Ingredient</a>
            <a href="/edit discription" name="Add discription" type="add" class="btn btn-primary" style = "color:{{color4}}">Edit Description</a>
        </div>
    
    </body>
    
    <!-- Shadow-->
    <div class="shadow p-3 mb-5 bg-white rounded" style="width: 80rem">
      <div class="card-body">
        <br />
        <h3 align="center">MyRecipe</h3>
        <h5 align="center">
          Edit Recipe
        </h5>
        <br />

        <!-- Ingredients -->
        <h4 align="left">Step 3</h4>
        <p style="color:blue;">{{IngreContents}}<p>
        <div>
        <div class="btn-group" id="titile" style="float:left"></div>
          <label for="dosage" style="margin-left:30px;">Unit</label>
          <label for="unit_name" style="margin-left:60px">Unit Name</label>
          <label for="unit_name" style="margin-left:20px">Ingredients</label>
        </div>
        <div>
        <ul class="list-group list-group-flush" id="edit ingredient">
        
        {% for ingre in ingredients %}
        <li class="list-group-item">  
            <div class="form-inline" id="rightDiv" style="float:left">
            <form id="frm1">
            <INPUT  id="dosage" 
                    name="dosage"
                    pattern="[-]?[0-9]*[\/]?[0-9]+" 
                    MIN="0" 
                    MAX="1000" 
                    STEP="1" 
                    VALUE={{ ingre.ingredient.dosage }} 
                    SIZE="0" 
                    class="form-control" 
                    style="margin-left:10px">
            </div>
            </form>
            <div class="form-inline" id="rightDiv" style="float:left">
            <form id="frm2">
            <select name="Unit Name" id="Unit Name" style="margin-left:5px">
                <option value="" selected disabled hidden>{{ ingre.ingredient.unit_name}}</option>
                <option value="cups">cups</option>
                <option value="g">g</option>
                <option value="ml">ml</option>
                <option value="fl oz">fl oz</option>
                <option value="tsp">tsp</option>
                <option value="tbsp">tbsp</option>
                <option value="bags">bags</option>
                <option value="bar">bar</option>
                <option value="bulb">bulb</option>
                <option value="capsule">capsule</option>
                <option value="cl">cl</option>
                <option value="clove">clove</option>
                <option value="cob">cob</option>
                <option value="dash">dash</option>
                <option value="drop">drop</option>
                <option value="gallon">gallon</option>
                <option value="head">head</option>
                <option value="kg">kg</option>
                <option value="l">l</option>
                <option value="lb">lb</option>
                <option value="leaf">leaf</option>
                <option value="loaf">loaf</option>
                <option value="package">package</option>
                <option value="pinch">pinch</option>
                <option value="pint">pint</option>
                <option value="quart">quart</option>
                <option value="scoop">scoop</option>
                <option value="sheet">sheet</option>
                <option value="slice">slice</option>
                <option value="sprig">sprig</option>
                <option value="stalk">stalk</option>
                <option value="strip">strip</option>
                <option value="tea bag">tea bag</option>
                <option value="whole">whole</option>
            </select>
            </form>
            </div>
            <div class="form-inline" id="rightDiv" style="float:left">
            <form id="frm3">
            <input
            type="Ingredient Name"
            class="form-control"
            id="Ingredient Name"
            name="Ingredient Name"
            value = {{ ingre.ingredient.ingredient }} 
            style="width:200px; color:black;margin-left:5px"
            />
            </form>
            </div>
            
            
            
            <button type="button" class="close" onClick="deleteIngredient({{ ingre.ingredient.id }})">
                <span aria-hidden="true">&times;</span>
            </button>

            <button name="button1" type="add" class="btn btn-secondary float-right" onClick="modifyIngredient({{ ingre.ingredient.id }}, {{ ingre.order }})">Modify</button>
            
            
        </li>
        {% endfor %}
        </ul>
        </div>
        
        <hr>
        <form method="POST" name="part3" id="part3" enctype=multipart/form-data>
        
        <h3 align="left" style="color:red; margin-left:0px; margin-top:30px">Add Ingredients</h3>

        <!-- I think form-inline screws with place, avoid using it  and use bootstrap grids -->
        <div class="btn-group" id="rightDiv" style="float:left"></div>
          <label for="dosage" style="margin-left:0px; margin-top:30px">Unit</label>
          <label for="unit_name" style="margin-left:180px">Unit Name</label>
          <label for="unit_name" style="margin-left:20px">Ingredients</label>
        </div>


        <!-- No clue -->
        <div class="form-inline" id="rightDiv" style="float:left">
          <INPUT  id="number of dosage" 
                  name="number of dosage"
                  pattern="[-]?[0-9]*[\/]?[0-9]+" 
                  MIN="0" 
                  MAX="1000" 
                  STEP="1" 
                  VALUE="0" 
                  SIZE="0" 
                  class="form-control" 
                  style="margin-left:80px">
        </div>

        <!-- No clue -->
        <div class="form-inline" id="rightDiv" style="float:left">
          <select name="Unit" id="Unit" style="margin-left:5px">
            <option value="cups">cups</option>
            <option value="g">g</option>
            <option value="ml">ml</option>
            <option value="fl oz">fl oz</option>
            <option value="tsp">tsp</option>
            <option value="tbsp">tbsp</option>
            <option value="bags">bags</option>
            <option value="bar">bar</option>
            <option value="bulb">bulb</option>
            <option value="capsule">capsule</option>
            <option value="cl">cl</option>
            <option value="clove">clove</option>
            <option value="cob">cob</option>
            <option value="dash">dash</option>
            <option value="drop">drop</option>
            <option value="gallon">gallon</option>
            <option value="head">head</option>
            <option value="kg">kg</option>
            <option value="l">l</option>
            <option value="lb">lb</option>
            <option value="leaf">leaf</option>
            <option value="loaf">loaf</option>
            <option value="package">package</option>
            <option value="pinch">pinch</option>
            <option value="pint">pint</option>
            <option value="quart">quart</option>
            <option value="scoop">scoop</option>
            <option value="sheet">sheet</option>
            <option value="slice">slice</option>
            <option value="sprig">sprig</option>
            <option value="stalk">stalk</option>
            <option value="strip">strip</option>
            <option value="tea bag">tea bag</option>
            <option value="whole">whole</option>
          </select>
        </div>

        <!-- No clue -->
        <div class="form-inline" id="right_2" style="float:left">
          <input
          type="Ingredient"
          class="form-control"
          id="Ingredient"
          name="Ingredient"
          placeholder="Ingredient Name"
          style="width:200px; color:black;margin-left:5px"
          />
        </div>
        <button name="button_edit" type="add" class="btn btn-primary float-right" onClick="AddIngredient()">Add</button>
        <br/>
        

        </form> 
    </div>
  </section>
</section>
{% endblock %}