{% extends "base.html" %} {% block title %}Edit Profile{% endblock %}
<!-- Overwrites title-->
<!-- TODO: add containers to better group the forms to make them more aesthetic e.g. account, personal details etc-->
{% block content %}
<form method="POST">

    <h3 align="center">Update Profile</h3>
    <div class="container-fluid" style="border:1px solid #cecece;">
        <div class="form-group">
        <label for="email">Email Address</label>
        <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            value={{current_user.email}}
        />
        </div>
        <div class="form-group">
        <label for="username">Username</label>
        <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            value="{{profile.display_name}}"
        />
        </div>
        <div class="form-group">
            <label for="first_name">First name</label>
            <input
            type="text"
            class="form-control"
            id="first_name"
            name="first_name"
            value="{{profile.first_name}}"
            />
        </div>
        <div class="form-group">
            <label for="last_name">Last name</label>
            <input
            type="text"
            class="form-control"
            id="last_name"
            name="last_name"
            value="{{profile.last_name}}"
            />
        </div>
        <div class="form-group">
        <label for="password1">New Password</label>
        <input
            type="password"
            class="form-control"
            id="password1"
            name="password1"
            placeholder="Enter password"
        />
        </div>
        <div class="form-group">
        <label for="password2">New Password (Confirm)</label>
        <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="Confirm password"
        />
        </div>
        <!--User Bio info: need to store in database-->

        <div class="form-group">
            <label for="user_bio">Personal Bio</label>
            <input
            type="text"
            class="form-control"
            id="user_bio"
            name="user_bio"
            rows="5"
            value={{profile.bio}}
            />
        </div>
        <!-- Upload Profile Picture. Can do the same for banner feature-->
        <div class="form-group">
            </form> 
            
            <form method="POST" name="upload" id="upload" enctype=multipart/form-data>
                <h4 align="left" style = "margin-top:30px; margin-left:80px p">Upload Profile Picture</h4>
                <input type=file name=file>
                <input name = "button1" type=submit value=Upload>
            
              
            </form>      
        </div>
    <div >

    <div class="mt-xl-4">    
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-secondary" href="http://127.0.0.1:5000/profile/my" role="button">Cancel</a>
    </div>
</form>


{% endblock %}
