{% extends "base.html" %} {% block title %}Edit Profile{% endblock %}
<!-- Overwrites title-->
<!-- Will user a form similar to sign-up, need to think of a way to retain old info-->
{% block content %}
<form method="POST">

    <h3 align="center">Update Profile</h3>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        value={{current_user.email}}
      />
    </div>
    <div class="form-group">
      <label for="first_name">First Name</label>
      <input
        type="text"
        class="form-control"
        id="first_name"
        name="first_name"
        value={{current_user.first_name}}
      />
    </div>
    <div class="form-group">
      <label for="password1">New Password</label>
      <input
        type="password"
        class="form-control"
        id="password1"
        name="password1"
        placeholder="Enter password"
      />
    </div>
    <div class="form-group">
      <label for="password2">New Password (Confirm)</label>
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="Confirm password"
      />
    </div>
    <!--User Bio info: need to store in database-->

    <div class="form-group">
        <label for="user_bio">Personal Bio</label>
        <input
          type="text"
          class="form-control"
          id="user_bio"
          name="user_bio"
          rows="5"
          value={{current_user.bio}}
        />
      </div>



    <button type="submit" class="btn btn-primary">Submit</button>
    <form action= '/my' method='GET' value='back'>
        <button class ='btn btn-secondary' type='submit'>
            Cancel
        </button>
    </form>
  </form>


{% endblock %}
