{% extends "base.html" %}
{% block title %}Recipe_card{% endblock %} {% block content %}
<h2>History</h2>
{% for recipes in query %}
<tr>
    <td>
      <div class="card mb-3" style="max-width: 1000px;">
        <div class="row g-0">
          <div class="col-md-4">
            <div class="zoom">
              <a href="/recipe.{{recipes.recipe.name}}.{{recipes.recipe.id}}">
                <img src="https://comp3900-w18b-sheeesh.s3.ap-southeast-2.amazonaws.com/{{recipes.recipe.photo}}" class="image">
              </a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{recipes.recipe.name}} </h5>
      
    </td>
    <td>
      <h6 class="card-text">{{recipes.recipe.description}}</h6>
    </td>
    <td>
          <!-- want to change thise so it displays profile based off profile_id-->
          <p class="card-text"><small class="text-muted">Created by: <u><a href="http://127.0.0.1:5000/profile/{{recipes.url}}" style="margin-left: 40px;">{{recipes.recipe.creator}}</a></u></small></p>
          
          <button class="btn btn-success pull-right" type="button" onClick="history_delete({{recipes.recipe.id}})">Delete it in history</button>
        </div>
      </div>
    </div>
  </div>
    </td>
  </tr>
{% endfor %}

{% endblock %}