{% extends "base.html" %} {% block title %}MyRecipes{% endblock %}
<!-- Overwrites title-->

{% block content %}
<head>
  <style>
    .img-fit img{
    width:100%;
    height: 100%;
    object-fit:cover; 
    }
    .loginbox{
    width:1047px;
    }
    .loginbox .jumbotron{
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 15px;
    }
    .row h4{
    margin-right: 400px;
    }
    body{
    background-color:white;
    }
  </style>
  
</head>
<!-- Header -->
<div class="container">
  <div class="jumbotron page-header" style="margin-bottom: 0px">
    <h1 class="display-4">MyRecipes</h1>
    <p class="my-4">Sharing Recipes</p>
  </div>
</div>

<body>
  <main class="page projects-page" style = "margin-left:28px;">
    <section class="portfolio-block projects-cards">
      <div class="container">
        <!--encourring  for signup-->
        <br>
        <div class = "loginbox">  
          <div class="jumbotron" style="margin-bottom: 0px">
              {% if current_user.is_authenticated %}   
              <h2>Hello {{userName}}</h2>
              {% else %}
              <div class = "row"><h4>Want to join our MyRecipe family right now?</h4>
                <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
              </div>
              {% endif %}
          </div>
        </div>
            
            
        <div class="row">
          {% for res in res %}
          <div class="col-md-6 col-lg-4">
            <div>
                <div class="zoom img-fit">
                  <a href="/recipe.{{res.name}}.{{res.id}}"><img class="card-img-top scale-on-hover" src="https://comp3900-w18b-sheeesh.s3.ap-southeast-2.amazonaws.com/{{res.photo}}" 
                  alt="Card Image" style = "margin-left: 25px;"></a></div>
                  <div style = "margin:5px;">
                    <h6><a href="/recipe.{{res.name}}.{{res.id}}">{{res.name}}</a></h6>
                    <h7 class="card-text">{{res.description[0:100]}}</h7>
                  </div>
                </div>
            </div>
            {% endfor %}
                  
          </div>
        </div>
      </div>  
    </section>
  </main>
</body>



{% endblock %}
