<html>
{% extends "base.html" %} {% block title %}MyRecipes{% endblock %}

{% block content %}
{% include 'base2.html' %}
<body>
    <h1>Personalised Newsfeed</h1>

    {% if type == '#' %}
    <a
      class="nav-link dropdown-toggle"
      href="#"
      id="navbarDropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Sort by:
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" id="newsfeed_likes" href="/newsfeed/recent">Most Recent</a>
      <a class="dropdown-item" id="newsfeed_likes" href="/newsfeed/likes">Most Likes</a>
    </div>
  </li>
  {% elif type == 'recent' %}
  <a
    class="nav-link dropdown-toggle"
    href="#"
    id="navbarDropdownMenuLink"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Most Recent:
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <a class="dropdown-item" id="newsfeed_likes" href="/newsfeed/likes">Most Likes</a>
    <a class="dropdown-item" id="newsfeed_likes" href="/newsfeed">Remove Sort</a>
  </div>
  </li>
  {% elif type == 'likes' %}
  <a
      class="nav-link dropdown-toggle"
      href="#"
      id="navbarDropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Most Likes
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" id="newsfeed_recent" href="/newsfeed/recent"
        >Most Recent</a
      >
      <a class="dropdown-item" id="newsfeed_likes" href="/newsfeed">Remove Sort</a>
    </div>
  </li>

  {% elif type == 'empty' %}
  <br><br><br><br><br><br>
    <h1 style="color: red">SUBSCRIBE TO OTHER USERS TO SEE RECIPES</h1>
  {% endif %}


    {% for recipes in query %}
    <tr>
      <td>
        <div class="card mb-3" style="max-width: 1000px;">
          <div class="row g-0">
            <div class="col-md-4">
              <div class="zoom">
                <a href="/recipe.{{recipes.name}}.{{recipes.id}}">
                  <img src="https://comp3900-w18b-sheeesh.s3.ap-southeast-2.amazonaws.com/{{recipes.photo}}" class="image">
                </a>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{recipes.name}} </h5>
                <p class="card-text"><small class="text-muted">Posted: {{recipes.creation_time}} {{recipes.creation_date}}</small></p>
                <p>Likes: {{recipes.likes}} Dislikes: {{recipes.dislikes}}</p>
      </td>
      <td>
        <p class="card-text">{{recipes.description}}</p>
      </td>
      <td>
            <!-- want to change thise so it displays profile based off profile_id-->
            <p class="card-text"><small class="text-muted">Created by: <u><a href="/profile/{{recipes.display_name}}"> {{recipes.creator}}</a></u></small></p>
            <a href="/recipe.{{recipes.name}}.{{recipes.id}}" class="btn btn-primary">Get the Recipe</a>
          </div>
        </div>
      </div>
    </div>
      </td>
    </tr>
    {% endfor %}




  {% endblock %}
</body>

</html>