
{% extends "base.html" %} 
<!-- Overwrites title-->
{% block title %}Recipe{% endblock %}
{% block content %}
<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">    
  <script src="{{ url_for('static',filename = 'Recipe/Like.js')}}"></script>
  <style>
    body{
    background-color:white;
    }
    
    .container button{
      margin-right: 0px;
    }

    .jumbotron {
    margin-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    .wrap{
    height: 180px;
    width:2000px;
    overflow: hidden;
    margin-bottom: 25px;
    }

    .text{
      height: 20px;
      width:300px;
      overflow: hidden;
      margin-bottom: 25px;
    }

    .wrap img{
      display: block;float: left;margin-right: 190px;
    }

    .text div{
      display: block;float: left;margin-right: 30px;
    }

    .sidebar {
    height: 100%;
    width: 300px;
    position: -webkit-sticky; /* for Safari users */
    position: static;
    top: 0px;
    float: right;
    margin-top: 300px;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
    }

    .sidebar div {
    font-size: 24px;
    display: block;
    align-items: center;
    }

    .sidebar div img{
      width :281px;
      height:180px;
      object-fit:cover;
    }

    .body-text {
    margin-right: 150px;
    font-size: 18px;
    text-align: "center";
    }

    .img-fit{
    width: 1100px;
    height: 500px;
    margin-top: 25px;
    margin-bottom: 25px;

    }
    
    .img-fit img{
    width:100%;
    height: 100%;
    object-fit:cover; 
    }

    .atmiddle{
      
      margin-left: 100px;
    }

    .atmiddle img{
      object-fit: cover;
    }

    .checked {
      color: orange;
    }

    .mid{
      width: 560px;
      text-align: left;
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;
    }

    .right {
    width: 770px;
    margin-left: 30px;
    padding-bottom: 20px;
}

    .text_wrapper {
      word-break:break-all;
    }

    body{
      height:100%;
    }


  </style>

</head>
<!--content of recipe-->
<body>
  <!--cover photo-->
  <div class = "img-fit">
    <img
    class="w3-round"
    src="{{image1}}"
  />
  </div>
  
  <!--sidebar-->
  <div class="sidebar">
    <div style = "text-align: center;"><h4>More  delicious for you</h4></div>
    <!--recommandation-->
    <!-- Similar recipes to the one that is currently being looked at -->
    {% for res in res %}
      <div>
        <a href="/recipe.{{res[2]}}.{{res[0]}}">
          <img src="https://comp3900-w18b-sheeesh.s3.ap-southeast-2.amazonaws.com/{{res[3]}}" class="w3-card-4">
        </a>
        <h4 style="text-align:center;">{{res[2]}}</h4>
      </div>
    {% endfor %}
    
    <!-- Only the person who made the recipe can modify and delete it -->
    {% if current_user.id == creates %}
    <!--action buttons-->
    <div>
      <form action="edit recipe" method="POST">
        <button class="btn btn-success pull-right" type="submit" >Edit</button>
      </form> 
      
      
      <button class="btn btn-success pull-right" type="submit" onClick="recipe_delete()">Delete</button>
      
    </div>
    {% endif %}
  </div>
  
  <!--title-->
  <div class="jumbotron">
    
    <div class="container">
      <h1 style="font-size:88px;">{{RecipeName}}</h1>
      <!--starred start-->
        <div class="container">
            <!-- Recipe Star Button-->
            <div id="favourite" style="float:right">
              <div id="heart"></div> 
              <a><div id="heartwhite" onclick="star_state();" style="cursor: pointer;"></div></a>


              {% if star_status == "starred" %}
                <script type = text/javascript>
                  document.getElementById("heartwhite").style.opacity = 0;
                </script>
              {% endif %}

              <!-- toggle the star button from starred to unstarred-->
              {% if current_user.is_authenticated %}
              <script type = text/javascript>          
                function star_state() {
                  var toggle = document.getElementById("heartwhite");
                  var status = "";
                  // Set the opacity to 1 by default
                  if (toggle.style.opacity == "")
                    toggle.style.opacity = 1;
                  
                  // Alternate between being transparent and visible
                  if (toggle.style.opacity == "1") {
                    toggle.style.opacity = "0";
                    status = "starred"
                  }
                  else if (toggle.style.opacity = "0") {
                    toggle.style.opacity = "1";
                    status = "unstarred"
                  }

                  
                  // Post to backend                 
                  $.ajax({
                      type : "POST", // http method
                      url : "{{url_for('recipes.star_recipe')}}", // the endpoint
                      data : {status: JSON.stringify(status), 
                          user: JSON.stringify({{current_user.id}}), 
                          recipe: JSON.stringify({{recipe_id}})
                      }, // data sent with the post request

                      // handle a successful response
                      success : function() {
                          console.log("success"); // another sanity check
                      },

                      // handle a non-successful response
                      error : function(xhr,errmsg,err) {
                          console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                      }
                  });


                }
              </script>
              {% else %}
              <script type = text/javascript>
                function star_state(){
                  window.alert("Please sign in first so you can heart your favourite recipes!")
                }
              </script>
              {% endif %}

            </div>
        
          <br />
        </div>
        <!--starred end-->
      <div class = "text">
        <div><p style="color:blue;">Meal Type : {{meal_type}}</p></div>
        <div><h8>id : {{recipe_id}}</h8></div>
      </div>
      Cooking methods:
      </h6>
      <div class = "text">
        {% for method in methods %}
        <div>
          <p class="card-text"style="color:DarkOrange;">{{method.method}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  
  
  <!--user image, description, rating, likes, Ingredients-->
  <div class="container">
    <div>
      <img
      class="rounded-circle account-img"
      src="{{UserImage}}"
      width="200"
      height="200"
      />
      <span class="mid">
        <h3>Description</h3>
        {{Descriptions}}
      </span>
    </div>
    <a href="http://127.0.0.1:5000/profile/{{UserName}}" style="margin-left: 40px;">{{UserName}}</a>

    <!--star rating begin-->
    <link href=.rating-list li {
      float: right;
      color: #ddd;
      padding: 10px 5px;
    }
    
    .rating-list li:hover,
    .rating-list li:hover ~ li {
      color: #ffd700;
    }
    
    .rating-list {
      display: inline-block;
      list-style: none;
    } rel="stylesheet" />
    
    <div style = "margin-left: 30px;">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </div>
    <!--star rating end-->
    
    <!-- Like and disclick buttons with their associated counter -->
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary" onClick="addLike({{ recipe_id }})">Like!</button>
        {{ recipe.num_of_likes }}
        <button type="button" class="btn btn-primary" onClick="addDislike({{ recipe_id }})">Dislike!</button>
        {{ recipe.num_of_dislikes }}
      </div>
    </div>

    <!-- Rating method for recipes that works off number of likes and dislikes on recipes. -->
    <div class="row">
      <div class="col">
        <label>Rating: {{ rating }}</label>
      </div>
    </div>

    <!--save into cookbooks-->
    <!--drop down menu for cookbook-->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Save to CookBook
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class = "container">
        <form method="POST"  action="http://127.0.0.1:5000/recipe.{{RecipeName}}.{{recipe_id}}" >
          {% for cookbook in cookbook_my %}
          <input type="radio" id="{{cookbook.name}}" name="cookbook" value="{{cookbook.id}}">
          <label for="{{cookbook.name}}">{{cookbook.name}}</label><br>
          {% endfor %}
          <button name="BookAdd" id = "BookAdd" type="submit" class="btn btn-outline-success" >Save into cookbooks</button>
        </form>
      </div>
      </div>
    </div>

        

    <div> 
      <h3 style="margin-top:40px", style="margin-left:40px">Ingredients</h3>
      <p class="text-secondary">{{MyIngredient}}</p>
    </div>


      {% for des_step in query %}
        <td>
          <h3 class="card-text">Step.{{des_step.step_no}}</h3>
        </td><br>
        <div class = "atmiddle">
          <img src="https://comp3900-w18b-sheeesh.s3.ap-southeast-2.amazonaws.com/{{des_step.photo}}" class="w3-card-4" width = "600" height = "450">
        </div><br>
        <div class = "right">
          {{des_step.step_comment}}
        </div>
      {% endfor %}
    </div>
  
  </div>     


<br><br>


<!-- This entire section is dedicated to comments -->
<div class="container">
    <hr>
    <h2>Comments</h2>
    <!-- Displays the ability to comment when the user is logged in-->
    {% if current_user.is_authenticated %}
      <div align="center">
        <button type="button" class="btn btn-primary" onClick="createComment2({{ recipe_id }})">Post a new Comment!</button>
      </div>
    {% endif %}

    <!-- Displays the list of comments for the recipe-->
    <div class="text_wrapper">

    <ul class="list-group list-group-flush" id="reviews">
      <!-- Iterate through comments for the recipe and display associated name and comment. -->
      {% for name, id, review in comments %}
      <a href="#">{{ name }}</a>
      <li class="list-group-item">
        
        {{ review.comment }}
          
        <!-- Displays the abiltiy to delete comments if either they are the recipe owner or person who made the comment -->
        {% if creates == current_user.id or current_user.id == review.owns %}
        <!-- Only the person who made the comment can modify it -->
          {% if current_user.id == review.owns %}
            <button type="button" class="btn btn-secondary float-right" onClick="modifyComment({{ review.comment_id }})">
              Modify
            </button>
          {% endif %}

          <button type="button" class="close" onClick="deleteComment({{ review.comment_id }})">
            <span aria-hidden="true">&times;</span>
          </button>
          
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    </div>

  <!--share and download-->
  <hr>
  <div class = "wrap">
    <a class= "facebook" href= "https://www.facebook.com/sharer.php?text=Amazing recipes I found in MyRecipe [{{RecipeName}}]&u=http://127.0.0.1:5000/recipe.{{RecipeName}}.{{recipe_id}}" target= "_blank" id= "J-share-facebook" >
      <img border="0"  src="{{ url_for('static',filename = 'images/facebook1.png')}}" alt="facebook" height="150" width="150">
    </a>
    <a href="https://twitter.com/share?text=Amazing recipes I found in MyRecipe [{{RecipeName}}]    &url=http://127.0.0.1:5000/recipe.{{RecipeName}}.{{recipe_id}}" target="_blank">
      <img border="0"  src="{{ url_for('static',filename = 'images/twitter.png')}}" alt="twitter" height="150" width="150">
    </a>
    <a href="http://service.weibo.com/share/share.php?appkey=&title=Amazing recipes I found in MyRecipe [{{RecipeName}}]&url=http://127.0.0.1:5000/recipe.{{RecipeName}}.{{recipe_id}}" target="_blank">
      <img border="0"  src="{{ url_for('static',filename = 'images/weibo2.png')}}" alt="facebook" height="140" width="140">
    </a>
    <a href="http://127.0.0.1:5000/recipe.{{RecipeName}}.{{recipe_id}}" download = "MeRecipe_{{RecipeName}}">
      <img src="{{ url_for('static',filename = 'images/download2.png')}}" width="140" height="150" alt="" />
    </a>
  </div>
</div>

</body>

{% endblock %}