{% extends "base.html" %}
<!-- Overwrites title-->
{% block title %}Recipe_card{% endblock %} {% block content %}
{% include 'base2.html' %}
<html>
<h2>Card</h2>
</body>
<head>
    <title>Page Title</title>
    <style>
      body {background-color: powderblue;}
      h3 {color: red;}
      p {color: blue;}

      
    </style>
  </head>  
  <body>
  
  <h3>{{meal_type}}</h3>
    
  </body>
  </html>
{% for recipes in query %}
<tr>
  <td>
    <div class="card mb-3" style="max-width: 1000px;">
      <div class="row g-0">
        <div class="col-md-4">
          <div class="zoom">
            <a href="/recipe.{{recipes.name}}.{{recipes.id}}">
              <img src="https://comp3900-w18b-sheeesh.s3.ap-southeast-2.amazonaws.com/{{recipes.photo}}" class="image">
            </a>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{recipes.name}} </h5>
    
  </td>
  <div>
    <h7 class="card-text">{{recipes.description}}</h7>
  </div>
  <td>
        <!-- want to change thise so it displays profile based off profile_id-->
        <p class="card-text"><small class="text-muted">Created by: <u><a href="/profile/{{recipes.display_name}}"> {{recipes.creator}}</a></u></small></p>
        <a href="/recipe.{{recipes.name}}.{{recipes.id}}" class="btn btn-primary">Get the Recipe</a>
      </div>
    </div>
  </div>
</div>
  </td>
</tr>

{% endfor %} {% endblock %}
