
{% extends "base.html" %} 
<!-- Overwrites title-->
{% block title %}KongBao Chicken{% endblock %}
{% block content %}
<head>
    <script src="{{ url_for('static',filename = 'Recipe/Like.js')}}"></script>
</head>
<!--content of recipe-->
<body>
    <div class="jumbotron">
        <div class="container">
          <h1>{{RecipeName}}</h1>
          <p>id : {{recipe_id}}</p>
          <p>
          Still wondering what this part does
          </p>
          <br />
        </div>
      </div>
      <form action="edit recipe" method="POST">
        <button class="btn btn-success pull-right" type="submit" >Edit</button>
      </form> 
      
      <form action="Delete recipe " method="POST">
        <button class="btn btn-success pull-right" type="submit">Delete</button>
      </form> 
      <div class="row"></div>
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6"></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            
            <img
                  class="rounded-circle account-img"
                  src="{{image1}}"
                  width="200"
                  height="200"
                />
            <h2>Star Rating</h2>
            
            <link href=.rating-list li {
              float: right;
              color: #ddd;
              padding: 10px 5px;
            }
            
            .rating-list li:hover,
            .rating-list li:hover ~ li {
              color: #ffd700;
            }
            
            .rating-list {
              display: inline-block;
              list-style: none;
            } rel="stylesheet" />
            
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            
            <html>
              <head>
              <!-- Font Awesome Icon Library -->
                <style>
              .checked {
                color: orange;
              }
              </style>
              </head>
              <body>
              
              

              </body>
              </html>
          </div>
          <div> 
            <h3 style="margin-top:40px">Description</h3>
            <p class="text-secondary">{{Descriptions}}</p>
          </div>
        </div>
      </div>
      <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
      <div> 
        <h3 style="margin-top:40px", style="margin-left:40px">Ingredients</h3>
        <p class="text-secondary">{{MyIngredient}}</p>
      </div>
</body>

<view >
    <view style="font-size:12px;color:#aaa;text-align:center;margin-top:5px;">User Name</view>        
</view>

<br>
    <image src = "{{ url_for('static',filename = 'images/2_09.png')}}">
    <p>user's information is here</p>
</br >

<div class="col-md-4" align = "left">
  <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>

  {% for des_step in query %}
  <tr>
    <td>
      <p class="card-text"style="color:blue;">Step.{{des_step.step_no}}</p>
    </td>
    <td>
      <img src="https://comp3900-w18b-sheeesh.s3.ap-southeast-2.amazonaws.com/{{des_step.photo}}" class="img-fluid rounded-start" alt="...">
    </td>
    <td>
      <p class="card-text">{{des_step.step_comment}}</p>
    </td>
  </tr>
  {% endfor %}
  
</div>

{% endblock %}
