<!-- Front end for code recovery -->
{% extends "base.html" %}

{% block title %}
  Recover Password
{% endblock %} 

{% block content%}
<br />
<section class="container-fluid">
  <section class="row justify-content-center">
    <div class="shadow p-3 mb-5 bg-white rounded" style="width: 45rem">
      <div class="card-body">
        <h3 align="center">MyRecipe</h3>
        <h5 align="center">
          Already a member? <a href="/login" class="link-primary">Sign In</a>
        </h5>
        <br />

        <form method="POST">
          <!-- Email address that users will provide for us to send the recovery code to -->
          <div class="form-group">
            <label for="email">Please enter your email address to search for your account.</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"/>
          </div>
          
          <div align="center">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
          <br />
        </form>
      </div>
    </div>
  </section>
</section>
{% endblock %}
