<!-- Overrides base.html -->
{% extends "base.html" %}
<!-- Overrides tab name-->
{% block title %}Recover Password{% endblock %} {% block content%}
<!-- Display login related content, will change later card form -->
<br />
<section class="container-fluid">
  <section class="row justify-content-center">
    <!-- Shadow-->
    <div class="shadow p-3 mb-5 bg-white rounded" style="width: 45rem">
      <div class="card-body">
        <h3 align="center">MyRecipe</h3>
        <h5 align="center">
          Already a member? <a href="/login" class="link-primary">Sign In</a>
        </h5>
        <br />

        <form method="POST">
          <!-- Email -->
          <div class="form-group">
            <label for="email"
              >Please enter your email address to search for your
              account.</label
            >
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Enter email"
            />
          </div>
          <div align="center">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
          <br />

          <!-- Requires a field for code -->
          <!-- Requires a button to submit email-->
          <!-- We also need to prompt the user that we have sent the email successfully -->
          <!-- Check if email exists in our database -->
          <!-- Create a table for recover -->
        </form>
      </div>
    </div>
  </section>
</section>
{% endblock %}
