{% extends "base.html" %} {% block title %}MyRecipes{% endblock %}
<!-- Overwrites title-->

{% block content %}
<!-- Header -->


<head> 
<style>
body{
  background-color: #e2e8f0;    
}
.img-fit img{
    height: 300px;
    width:400px;
    object-fit:cover; 
}
</style>
</head>

<body>
  <!-- Our navbar, caters for desktop and mobile -->
  <!-- Nav bar that has a dark bg, and changes when the screen is no longer small-->
  <nav class="navbar navbar-light navbar-expand-sm" style="background-color: #e2e8f0;">
    
    <!-- Creates a button for navbar when the screen is small.-->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Container to hold content in the middle-->
    <div class="container">
      <!-- Wrapper for toggle (mobile) and desktop view-->
      <div class="collapse navbar-collapse" id="navbar">
        <!-- First nav bar to hold content to the left-->
        <form class="navbar-nav" method="POST">
          <a class="navbar-brand" href="#">  Activated Filters:{{contents}}</a>
        </form>

        <!-- Second navbar to move content to the right-->
        <div class="navbar-nav ml-auto">
            <!-- Dropdown1 for ingredient -->
            <li class="nav-item dropdown">
                <a
                class="nav-link dropdown-toggle"
                href="#"
                id="Ingredient"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >
                Ingredient
                </a>
                <div
                class="dropdown-menu"
                aria-labelledby="Ingredient"
                >
					<div class = "container">
						<form method="POST"  action="/search_result" >
							<input type="checkbox" id="pork" name="pork" value="pork">
							<label for="pork"> Pork</label><br>
							<input type="checkbox" id="beef" name="beef" value="beef">
							<label for="beef"> Beef</label><br>
							<input type="checkbox" id="vegetables" name="vegetables" value="vegetables">
							<label for="vegetables">Vegetables</label><br>
							<input type="checkbox" id="seafood" name="seafood" value="seafood">
							<label for="seafood"> Seafood</label><br>
							<input type="checkbox" id="poultry" name="poultry" value="poultry">
							<label for="poultry">Poultry</label><br>

							<button name="IngreAdd" id = "IngreAdd" type="submit" class="btn btn-outline-success" >Add</button>
						</form>
					</div>
				</div>
            </li>

            <!-- Dropdown2 for method -->
            <li class="nav-item dropdown">
                <a
                class="nav-link dropdown-toggle"
                href="#"
                id="Method"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >
                Method
                </a>
                <div
                class="dropdown-menu"
                aria-labelledby="Method"
                >
					<div class = "container">
						<form method="POST"  action="/search_result" >
							<input type="checkbox" id="baking" name="baking" value="baking">
							<label for="baking">Baking</label><br>

							<input type="checkbox" id="frying" name="frying" value="frying">
							<label for="frying">Frying</label><br>

							<input type="checkbox" id="grilling" name="grilling" value="grilling">
							<label for="grilling">Grilling</label><br>

							<input type="checkbox" id="steaming" name="steaming" value="steaming">
							<label for="steaming">Steaming</label><br>

							<input type="checkbox" id="braising" name="braising" value="braising">
							<label for="braising">Braising</label><br>

							<input type="checkbox" id="stir_frying" name="stir_frying" value="stir_frying">
							<label for="stir_frying">Stir Frying</label><br>

							<button name="MethodAdd" id = "MethodAdd" type="submit" class="btn btn-outline-success" >Add</button>
						</form>
					</div>
                </div>
            </li>

			<!-- Dropdown3 for mealType -->
            <li class="nav-item dropdown">
                <a
                class="nav-link dropdown-toggle"
                href="#"
                id="Method"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >
                Meal Type
                </a>
                <div
                class="dropdown-menu"
                aria-labelledby="Method"
                >
					<div class = "container">
						<form method="POST"  action="/search_result" >
							<input type="radio" id="starter" name="Type" value="starter">
							<label for="starter"> Starter</label><br>
							<input type="radio" id="main" name="Type" value="main">
							<label for="main"> Main</label><br>
							<input type="radio" id="snack" name="Type" value="snack">
							<label for="snack"> Snack</label><br>
							<input type="radio" id="breakfast" name="Type" value="breakfast">
							<label for="breakfast"> Breakfast</label><br>
							<input type="radio" id="drink" name="Type" value="drink">
							<label for="drink"> Drink</label><br>
							<br>
			
							<button name="TypeAdd" id = "TypeAdd" type="submit" class="btn btn-outline-success" >Add</button>
						</form>
					</div>
                </div>
            </li>

          <!-- Dropdown4 for sort -->
          <li class="nav-item dropdown" >
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Sort By
            </a>
            <div
              class="dropdown-menu"
              aria-labelledby="navbarDropdownMenuLink"
            >
				<div class = "container" >
					<form method="POST"  action="/search_result">
						<input type="radio" id="DateNew" name="Sort" value="DateNew">
						<label for="DateNew">Recently</label><br>
						<input type="radio" id="DateOld" name="Sort" value="DateOld">
						<label for="DateOld">Least Recently</label><br>
						<input type="radio" id="Star" name="Sort" value="Star">
						<label for="Star">Star Rate</label><br>
						<input type="radio" id="Likes" name="Sort" value="Likes">
						<label for="Likes">Likes</label><br><br>

						<button name="SortAdd" id = "SortAdd" type="submit" class="btn btn-outline-success" >Sort By</button>
					</form>
				</div>
            </div>
        </li>
        
		</div>
      </div>
    </div>
  </nav>



  <!-- Our navbar2, for ingredients only -->
  <nav class="navbar navbar-light navbar-expand-sm" style="background-color: #e2e8f0;">
    
    <!-- Creates a button for navbar when the screen is small.-->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Container to hold content in the middle-->
    <div class="container">
      <!-- Wrapper for toggle (mobile) and desktop view-->
      <div class="collapse navbar-collapse" id="navbar">
        <!-- First nav bar to hold content to the left-->
        <form class="navbar-nav" method="POST">
          <a class="navbar-brand" href="#">Ingredients Include:{{include_ingreList}}     </a>
          <a class="navbar-brand" href="#">Ingredients Exclude: {{exclude_ingreList}}</a>
          <button class="btn btn-warning" type="submit" name="clear" id = "clear">Clear All</button>  
        </form>






        <!-- Second navbar to move content to the right-->
        <div class="navbar-nav ml-auto">
            <!-- Dropdown1 for ingredient -->
            <li class="nav-item dropdown">
                <a
                class="nav-link dropdown-toggle"
                href="#"
                id="Ingredient"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >
                Ingredient
                </a>
                <div
                class="dropdown-menu"
                aria-labelledby="Ingredient"
                style="background-color: #e2e8f0;"
                >
					<div class = "container">
						<form method="POST"  action="/search_result" >
              <input class="form-control me-2" 
              type="search" 
              placeholder="include" 
              aria-label="include"
              id="include"
              name="include"
              autocomplete="on">
              <button class="btn btn-success" style = "width :100%" type="submit" name = "include_add" id = "include _add">Add</button>
              <hr>
              <input class="form-control me-2" 
              type="search" 
              placeholder="exclude" 
              aria-label="exclude"
              id="exclude"
              name="exclude"
              autocomplete="on">
              <button class="btn btn-success" style = "width :100%" type="submit" name = "exclude_add" id = "exclude _add">Add</button>
						</form>
					</div>
				</div>
            </li>
		</div>
      </div>
    </div>
  </nav>

  <br>
  <form class="d-flex" action="/search_result" method="POST">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search Recipes"
                aria-label="Search"
                id="Search"
                name="Search"
                autocomplete="on"
                value="{{search_value}}"
              />
              <button class="btn btn-outline-primary" type="submit">Search</button>  
            </form>
  <div class="container"></div>
  
 

</html>

<br>
<h6>{{queryLen}} results founded</h6>
<h1 align="center">{{message}}</h1>
  <!--for loop to add card, copied from recipe card-->
{% for recipes in query %}
<tr>
  <td>
    <div class="card mb-3" style="max-width: 1000px;">
      <div class="row g-0">
        <div class="col-md-4">
          <div class="img-fit zoom">
            <a href="/recipe.{{recipes.name}}.{{recipes.id}}">
              <img src="https://comp3900-w18b-sheeesh.s3.ap-southeast-2.amazonaws.com/{{recipes.photo}}" class="image">
            </a>
          </div>
        </div>
        <div class="col-md-8">
          <div class = "for-card" style = "margin-top:20px; margin-right:20px; margin-bottom:5px">
            <b><h3 class="card-title">{{recipes.name}} </h3></b>
    
  </td>
  <div>
    <h7 class="card-text">{{recipes.description[:300]}}</h7>
  </div>
  <td>
        <!-- want to change thise so it displays profile based off profile_id-->
        <p class="card-text"><small class="text-muted">Created by: <u><a href="/profile/{{recipes.custom_url}}"> {{recipes.creator}}</a></u></small></p>
        <br>
        <a href="/recipe.{{recipes.name}}.{{recipes.id}}" class="btn btn-primary">Get the Recipe</a>
        <!--drop down menu for cookbook-->
      </div>
    </div>
  </div>
</div>
  </td>
</tr>

{% endfor %}
</div>


</body>


{% endblock %}