<!-- Overrides base.html -->
{% extends "base.html" %}

<!-- Overrides tab name-->

{% block title %}Support{% endblock %} {% block content%}

<br />
<section class="container-fluid">
  <section class="row justify-content-center">
    <!-- Shadow-->
    <div class="shadow p-3 mb-5 bg-white rounded" style="width: 45rem">
      <div class="card-body">
        <div align="center">
          <h3>Support Page</h3>
          <p>Feel free to leave a comment or message us about any enquiries.</p>
          <br />

          <form method="POST" enctype="multipart/form-data">
            <!-- Email Address -->
            <h4>Email Address</h4>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter email"
              />
            </div>

            <h4>Topic</h4>
            <br />
            <select
              class="form-select form-select-lg mb-3"
              aria-label=".form-select-lg example"
              name="topic_select"
            >
              <option <option selected="true" disabled="disabled">
                Select a topic
              </option>
              <option value="Leaving Feedback">Leaving Feedback</option>
              <option value="Enquires">Enquires</option>
              <option value="Reporting A Bug">Reporting A Bug</option>
              <option value="Other">Other</option>
            </select>
            <br />
            <br />

            <h4>Photos/Files Upload</h4>
            <input
              class="form-control"
              type="file"
              id="files"
              name="files"
              multiple
            />
            <br />

            <div class="form-group">
              <h4>Comment</h4>
              <textarea
                class="form-control"
                id="email-body"
                name="email-body"
                rows="3"
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</section>
{% endblock %}
