{% extends "base.html" %} {% block title %}Recipe{% endblock %}
<!-- Overwrites title-->
{% block content %}
<form method="POST">
    <h4 align="left">Step 1</h4>
    <div class="form-group">
      <label for="Recipe Name">Enter Your Recipe Name</label>
      <input
        type="Recipe Name"
        class="form-control"
        id="Recipe Name"
        name="Recipe Name"
        placeholder="Enter Recipe Name"
      />
    </div>
    <h4 align="left">Step 2</h4>
    <h6 align="left">Choose your servings</h6>
    <div class="form-group">
      <label for="Servings">Servings</label>
      <select name="servings" id="servings">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>
    <h6 align="left">Add Ingredients</h6>
    <div class="form-group">
      <label for="Number">No.</label>
      <select name="Number" id="Number">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>
    <div class="form-group">
      <label for="password2">Password (Confirm)</label>
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="Enter password (Confirm)"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


{% endblock %}
