.asText {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

.image {
  object-fit:cover; 
  width: 300px; 
  height:300px;
}

.feed_image {
  object-fit:cover; 
  width: 100px; 
  height:100px;
}
.feed_zoom {
  object-fit:cover;
  height: 100px;
  width: 100px; 
}
.feed_zoom img {
  transition: transform .8s ease;
}

.feed_zoom:hover img {
  transform: scale(1.25);
}

.zoom {
    height: 300px;
    width: 300px;
    overflow: hidden; 
  }
  
  .zoom img {
    transition: transform .8s ease;
  }
  
  .zoom:hover img {
    transform: scale(1.25);
  }

  p {
    white-space: pre;
  }

 

  .sidebar {
    height: 70%;
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(233, 236, 239);
    overflow-x: hidden;
    padding-top: 55px;
    font-size: 15px;
  }
  
  /* Style sidebar links */
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #bbb9b9;
    display: block;
  }
  
  /* Style links on mouse-over */
  .sidebar a:hover {
    color: #f1f1f1;
  }
